.LeftSiderBarCampaign{
    height: 87vh;
    flex: 0.2;
    /* overflow-y: scroll; */
    padding: 1rem;
}

.LeftSiderBarCampaign h2{
    color: rgb(44, 44, 196);
    font-family: Arial, Helvetica, sans-serif;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
    border-radius: 0% !important;
}

.containers{
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}