.avatar_container{
    position: relative;
}

.avatar_container .avatar{
    cursor: pointer;
}

.avatar_container a{
    text-decoration: none;
}

.profile__expand{
    position: absolute;
    right: -48px;
    box-shadow: 2px 19px 36px -28px black;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    z-index: 10;
}

.profile__expand__none{
    display: none;
}

.profile__expand button{
    width: 100%;
}

.divider{
    background-color: black;
    width: 100%;
    height: 1px;
    margin-top: 5px; 
}

.avatar_container button{
    margin-top: 5px;
}