.user_campaign{
    height: 87.6vh;
    overflow-y: scroll;
}

.campaign_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
}

.campaigns_cards{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.usercapmaigns__cards{
    margin: 10px !important;
    height: fit-content !important;
}

.loader_error_page{
    height: 87.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_error_page img{
    width: 38rem;
}